.a {
    display: 'flex';
    justify-content:center;
    align-items:center;
    margin-top: 10vh;
}

.b {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 0vh;
}

.c {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 40vh;
    overflow: auto;
    margin-top: 5vh;
    margin-left: 20vw;
}

.subtitle{
    display: flex;
    justify-content:center;
    align-items:center;
}

.d {
    display: flex;
    justify-content:center;
    align-items:center;
}

html {
    background-image:url("./b.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}
