.root {
    padding: 2px 4px;
    display: 'inline-block';
    width: 260;
    margin: 10;
    align-self: center;
    align-items: center;
  }

  .input {
    margin-left: 10px;
    flex: 1;
  }
  #iconButton {
    padding-left: 10px;
    display: 'inline-block';
  }

  .divider {
    height: 28;
    margin: 4;
  }

  #add_to_all {
    padding-left: 10px;
    display: 'inline-block';
    margin-left: 10px;
    align-self: 'center';
  }

  #remove_all {
    padding-left: 10px;
    display: 'inline-block';
    margin-left: 10px;
    align-self: 'center';
  }

  #add_new {
    padding-left: 10px;
    display: 'inline-block';
    margin-left: 10px;
    align-self: 'center';
  }
  .main {
    align-items: center;
  }