.bar {
    background: '#fafafa';
    position: relative;
    align-items: 'center';
}

.root {
    flex-grow: 1;
}
#appbar {
    align-items: center;
    background-color: #fafafa
}

#tab {
    color: #212121
}