

#a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#b {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}

#background {
    position: absolute;
    background-image:url("./b.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}