#placeholder {
    height: 200px;
    background-color: #66ffff;
}

#rec {
    background-color: #f0f5f5;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%
}

#back {
    height: 2000px;
    background-color: #66ffff;
}

#l_back {
    background-image: url("s.jpg");
    background-size: cover;
    height: 900px;
    width: 100%;
    overflow: auto
}

#l_h1 {
    margin-left: 145px
}

.l_p1 {
    margin-left: 120px;
    margin-top: 30px
}

.b1 {
    margin-left: 158px;
    margin-top: 45px

}

.b2 {
    margin-left: 10px
}

#h2 {
    margin-left: 70px;
    margin-top: 100px
}
