#placeholder {
    height: 200px;
    background-color: #66ffff;
}

#rec {
    background-color: white;
    margin-bottom:10%;
    margin-left: 30%;
    margin-right: 30%
}

#back {
    height:2000px;
    background-color: #66ffff;
}
