/* Styles for the Header React component */
.header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}
#gridList {
    width: 600px;
    height: 100%;
    overflow: auto;
}
.icon {
    color: rgba(255, 255, 255, 0.54);
}

