.contents {
    padding-top: 150px;
    height: 100%;
    text-align: center;
}

.tabs {
    position: 'relative';
    align-items: "center";
    align-self: "center";
    text-align: center;
}

#main{
    position: absolute;
    background-image:url("b.jpg");
    background-size: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
