#l_placeholder {
    height: 200px;
    background-color: #33ccff;
}

#l_rec {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f0f5f5;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%
}

#l_back {
    background-image: url("l.jpg");
    background-size: cover;
    height: 900px;
    width: 100%;
    overflow: auto
}

#l_h {
    margin-left: 157px
}

.l_p1 {
    margin-left: 120px;
    margin-top: 30px
}

.b1 {
    margin-left: 166px;
    margin-top: 45px
}

#bb {
    margin-left: 166px;
    margin-top: 45px
}

#bb2 {
    margin-left: 10px
}

#h2 {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 30px
}
