#l_placeholder {
    height: 200px;
    background-color: #33ccff;
}

#l_rec {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f0f5f5;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%
}

#l_back {
    height: 2000px;
    background-color: #33ccff;
}
