#l_placeholder {
    height: 200px;
    background-color: #33ccff;
}

#l_rec {
    background-color: white;
    margin-bottom:10%;
    margin-left: 30%;
    margin-right: 30%
}

#l_back {
    height:2000px;
    background-color: #33ccff;
}
